<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.inout.goods.mapper.PqProductAttributeValueMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  pq_product_attribute_value 
		WHERE
			 goods_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.inout.goods.entity.PqProductAttributeValue">
	SELECT a.`id`, a.`create_by`, a.`create_time`, a.`update_by`, a.`update_time`,
	a.`sys_org_code`, a.`goods_id`,  a.`value`,z.id as product_attribute_id
	,z.`name`,z.input_type,z.input_list FROM
	(SELECT g.id as gid,b.* from pq_goods g ,pq_product_attribute_category t ,
	pq_product_attribute b
	where g.id = #{mainId}  and g.product_attribute_category_id =
	t.id and b.type =1 and b.product_attribute_category_id = t.id
	) z LEFT JOIN pq_product_attribute_value a  on
	( a.product_attribute_id = z.id and a.goods_id = z.gid)
	</select>
</mapper>
