<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.inout.goods.mapper.PqProductAttributeMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  pq_product_attribute 
		WHERE
			 product_attribute_category_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.inout.goods.entity.PqProductAttribute">
		SELECT * 
		FROM  pq_product_attribute
		WHERE
			 product_attribute_category_id = #{mainId} 	</select>
</mapper>
